<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<table mat-table [dataSource]="app" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.appointmentId}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="range">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="patientId">
        <th mat-header-cell *matHeaderCellDef> Patient id </th>
        <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Start time </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> End time </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToEdit(element.appointmentId)">
                  <mat-icon >edit</mat-icon>
                  <span>Edit</span>
                 </button>
                <button mat-menu-item (click)="onDelete(element.appointmentId)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                 </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.service.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.service.displayedColumns;"></tr>
</table>